.hct_category {
    padding: 0 15px;
    overflow: hidden;
    margin-top: 15px;
}

.hct_category_title {
    padding: 0;
    margin: 4px 0 5px;
    font-weight: bold;
}

.hct_category_title a {
    padding: 2px;
    background: #fff;
    border: 1px solid #346;
    border-radius: 5px;
}

.board_desc {
    margin-left: 10px;
    float: left;
    position: relative;
    width: 45%;
}

.hc_submit_button {
    margin: 30px 0 0 10px;
    padding: 2px;
    color: #000 !important;
    background: #cde7ff url(../images/theme/submit_bg.png) no-repeat;
    border: 1px solid #aaa;
    cursor: pointer;
    font-weight: normal;
    font: 95%/115% verdana, Helvetica, sans-serif;
}

.hct_settings {
    padding: 5px 20px 0 !important;
    margin: 0px !important;
}